
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>sample</title>
</head>
<body>
  <h1>OPERATIONS</h1>        <!--Heading of Abishaik's Content-->
    <h2></h2>

  
  <h2><em></em></h2>     
  <!--This is un ordered List-->  
          <ul>
  
            <li><h3><a href=http://localhost:3000/operation1 >   operation 1  </a>></h3></li>
            <h3>operation2</h3>
            <form action="https://2bf50e02d6e8.ngrok.io/operation2" method="POST">
              First name: <input type="text" name="fname"><br>
              Last name: <input type="text" name="lname"><br>
             <button type="submit">Send </button>
            </form>




            <h3>operation3</h3>
            <form action="http://localhost:3000/operation3" method="POST">
              Enter the name: <input type="text" name="name"><br>
              Enter the age: <input type="number" name="age"><br>

             <button type="submit">Tell me about my name </button>
            </form>




            <!-- from here -->
<!-- 
            <h3>operation4</h3>
            <form action="http://localhost:3000/operation4" method="POST">
              Enter the Order ID : <input type="number" name="orderid"><br>
              Enter the Sub Total Amount: <input type="number" name="subtotal"><br>
              Enter the Tax rs: <input type="number" name="taxrs"><br>
              Enter the Total Amount: <input type="number" name="totalamount"><br>
              Enter the list of item price in Dict: <input type="text" name="items"><br>

             <button type="submit">Validate </button>
            </form> -->
<!-- 
            <h3>operation5</h3>
            <form action="http://localhost:3000/operation5" method="POST">
              Enter the payload : <input name="payload"><br> -->
              <!-- Enter the Sub Total Amount: <input type="number" name="subtotal"><br>
              Enter the Tax rs: <input type="number" name="taxrs"><br>
              Enter the Total Amount: <input type="number" name="totalamount"><br>
              Enter the list of item price in Dict: <input type="text" name="items"><br> -->

             <!-- <button type="submit">check by payload </button>
            </form> -->

            <h3>operation6</h3>
            <form action="http://localhost:3000/operation6" method="POST">
              Enter the number: <input type="number" name="num1"><br>
              Enter the number: <input type="number" name="num2"><br>

             <button type="submit"> add </button>
            </form>







            <h3>operation7</h3>
            <form action="http://localhost:3000/operation7" method="POST">
              order_id : <input type="number" name="order_id"><br>
              <h4>item prices</h4>
              item price 1 : <input type="number" name="item_price_1"><br>
              item price 2 : <input type="number" name="item_price_2"><br>

              sub total : <input type="number" name="sub_total"><br>
              tax rs : <input type="number" name="tax_rs"><br>
              total_amount : <input type="number" name="total_amount"><br>


             <button type="submit"> Validate this </button>
            </form>


            <li><h3><a href=http://localhost:3000/ >   sample  </a>></h3></li>
            <li><h3><a href=http://localhost:3000/ >  sample   </a>></h3></li>
            <li><h3><a href=http://localhost:3000/ >  sample   </a>></h3></li>
            <li><h3><a href=http://localhost:3000/ >  sample   </a>></h3></li>
          </ul> 
  <h2>******************************************************************************</h2>
  <!--List contains operations-->
          <ol>
           
  </ol>
</body>
</html>